<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>


<!-- Hier werden jetzt mal punkte angezeigt, die kann ja Niklas irgendwie verarbeiten ;)-->
<!-- <a th:text="${user.getLevel().getLinEq()}"></a> -->
<br>
<a th:text="'Flugzeug: ' + ${user.getLevel().getPlane().toString()}"></a>
<br>
<br>
<a th:text="'U-Boot: ' + ${user.getLevel().getSubmarine().toString()}"></a>

<div th:if="${userInputValid} == false"  style="width: 600px; height: 100px; border: 1px solid black; background-color: red; margin-left: auto; margin-right: auto; text-align: center;">
    <a>Sie haben einen Fehler in der Eingabe, bitte überprüfen Sie Ihre Eingabe!</a>
</div>
<br>
<br>
<div style="width: 800px; height: 150px; border: 1px solid black;">

    <div th:each="ele : ${user.getLevel().getLevelbeatcounter().getBeatList()}">
        <div th:if="${ele} == true" style="width: 100px; height: 150px; border: 1px solid black; float: left; background-color: green;">


        </div>
        <div th:if="${ele} == false" style="width: 100px; height: 150px; border: 1px solid black; float: left; background-color: red;">

        </div>
    </div>
</div>

<form action="#" th:action="@{/exampleMainController4}" th:object="${userInput}" method="post">
    <table th:if="${userInputValid} == false" table>

        <tr>
            <td>a Zaehler: <input type="text" th:field="*{userNumeratorInput}" /></td>
        </tr>
        <tr>
            <td>a Nenner: <input type="text" th:field="*{userDenominatorInput}" /></td>
        </tr>
        <tr>
            <td>b: <input type="text" th:field="*{userYInput}" /></td>
        </tr>
        </tr>
        <td><button type="submit">Submit</button></td>
        </tr>

    </table>
    <table th:if="${userInputValid} == null or ${userInputValid} == true" table>


        <tr>
            <td>a Zaehler: <input type="text" th:id="'userNumeratorInput'" th:name="'userNumeratorInput'" /></td>
        </tr>
        <tr>
            <td>a Nenner: <input type="text" th:id="'userDenominatorInput'" th:name="'userDenominatorInput'" /></td>
        </tr>
        <tr>
            <td>b: <input type="text" th:id="'userYInput'" th:name="'userYInput'" /></td>
        </tr>
        <tr>
        <td><button type="submit">Submit</button></td>
        </tr>


    </table>
</form>
</body>
</html>