<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AE_Projekt; Submarine Math Game</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--svg {
    background: white;
    border: 1px dotted #3983ab;
    width: 95%;
    height: 400px;
    padding: 0;
    position: relative;
    }

    .axis {
    stroke: #999;
    marker-end: url(#markerArrow);
    }

    text {
    font-family: verdana;
    font-size: 12px;
    }

    #graph-label {
    font-family: "Open Sans", sans;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    }

    #y-label {
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 363px 38px;
    }

    label {
    cursor: pointer;
    }

    input[name="a"],
    input[name="c"] {
    width: 4em;
    }

    fieldset,
    legend {
    background: white;
    border: 1px solid black;
    border-radius: 0.2em;
    }

    legend {
    padding: 0.2em 1em;
    }

    fieldset p {
    text-align: center;
    }-->

</head>
<body>
    <h1>Hello, world!</h1>
    <p>Gegebene Funktion: </p>
    <p th:text="${gleichung.toString()}"></p>
    <p th:text="${submarine.toString()}"></p>
    <p th:text="${plane.toString()}"></p>
    <!--<p th:text="'Hello, ' + ${name} + '!'" ></p>-->
    <div class="container-fluid">
        <div class="row">
            <!-- Hier kommt die linke Spalte mit Input für Gleichungslösung, History der Eingaben und Ausgabe von Gleichungen -->
            <div class="col-md-1">
                <p>Gegebene Funktion: </p>
                <p th:text="'f(x)=' + ${equation}"></p>
                <input type="text" name="solution">

                <p>
                    <div>
                        <input type="text" name="history1" readonly="true">
                        <input type="text" name="history2" readonly="true">
                        <input type="text" name="history3" readonly="true">
                        <input type="text" name="history4" readonly="true">
                        <input type="text" name="history5" readonly="true">
                        <input type="text" name="history6" readonly="true">
                        <input type="text" name="history7" readonly="true">
                    </div>
                </p>


            </div>
            <div class="col-md-1">

            </div>
            <!-- Hier kommt die mittlere Spalte aka "Spielfeld" -->
            <!--<div class="col-md-8" onload="zeichne()">-->
            <div class="col-md-8">
                <main>
                    <form>
                        <fieldset>
                            <legend>Formel</legend>
                            <p> y =
                                <label> Faktor a
                                    <input name="a" step="0.01" type="number" value="1"> </label> * x +
                                <label> Konstante c
                                    <input name="c" type="number" value="1"> </label>
                            </p>
                        </fieldset>
                    </form>
                    <svg viewbox="0 0 700 400">
                        <defs>
                            <pattern id="grid" patternUnits="userSpaceOnUse" width="10" height="10" x="0" y="0">
                                <path d="M0,0 v10 h10" stroke="#57c4ff" fill="none" /> </pattern>
                            <!-- eine Pfeilspitze -->
                            <marker id="markerArrow" markerWidth="130" markerHeight="13" refx="2" refy="6"
                                    orient="auto">
                                <path d="M0,2 l8,4 l-8,4" fill="none" stroke="#999" stroke-width="1" /> </marker>
                        </defs>
                        <!-- Karo-Muster -->
                        <rect x="0" y="0" width="700" height="400" fill="url(#grid)"></rect>
                        <!-- Ursprungspunkt -->
                        <circle cx="350" cy="200" r="4" fill="#c32e04"></circle>
                        <!-- X-Achse -->
                        <path class="axis" id="x-axis" d="M0,200 h695" />
                        <!-- Y-Achse -->
                        <path class="axis" id="y-axis" d="M350,400 v-395" />
                        <!-- Linie des Funktionsgraphen -->
                        <path id="functionGraph" d="M140,400 L540,0" stroke="#0f0" />
                        <!-- Beschriftung des Ursprungspunktes -->
                        <text x="360" y="220" fill="darkslategray">(0,0)</text>
                        <!-- Beschriftung X-Achse -->
                        <text id="x-label" x="640" y="195" fill="#999">X-Achse</text>
                        <!-- Beschriftung Y-Achse -->
                        <text id="y-label" x="340" y="20" fill="#999">Y-Achse</text>
                        <!-- Beschriftung des Funktionsgraphen -->
                        <text>
                            <textPath id="graph-label" fill="#0f0" startOffset="20" xlink:href="#functionGraph">f(x)=x+1</textPath>
                        </text>
                    </svg>
                </main>

            </div>

            <!--<script type="text/javascript">
                function zeichne(){
                    var canvas = document.getElementById('canvastest');
                    var bild = canvas.getContext('2d');

                    bild.fillStyle = "rgb(200,0,0)";
                    bild.fillRect (10, 10, 60, 50);
                }
            </script>
            <canvas id="canvastest" width="150" height="150" > Ihr Browser kann kein Canvas! </canvas>-->
            </div>

            <!-- Hier kommt die rechte Spalte aka Befehlsangabe -->
            <div class="col-md-1">
                <textarea name="order1" readonly="true">Als einfacher Schiffjunge auf einem U-Boot, muss der Spieler die Schusslinie der
Kanone grafisch im „Logbuch dokumentieren“. Der Schuss der Kanone wird dem
Matrosen als Geradengleichung übermittelt. Der Spieler muss die „Schusslinie“ im
Koordinatensystem einzeichnen. Nach dem Zeichnen wird „als Kontrolle“ das U-Boot
und das Flugobjekt angezeigt. Hat der Schiffsjunge 5 Schusslinien richtig eingetragen,
wird er zum Matrosen „befördert“ und steigt zum Level 2 auf.</textarea>


                <textarea name="order2" readonly="true">Der Spieler muss als Leichtmatrose auf einem Kanonenboot auf der Oberfläche
Kanonen programmieren, welche gegnerische U-Boote zerstören. Ein Satelit
übermittelt an das Schiff eine Geradengleichung auf dessen Linie ein gegnerisches UBoot geortet wurde. (Die Linie wird nicht angezeigt.) Das Schiff befindet sich bereits
direkt über dem U-Boot, aber in welcher Tiefe soll die Bombe explodieren? Der Punkt
auf dem die Bombe explodieren solle muss eingegeben werden. Hat der
Leichtmatrose 5 U-Boote des Gegners erfolgreich zerstört, wird er zum „Vollmatrosen
1. Grades“ befördert.</textarea>
                <textarea name="order3" readonly="true">Der Spieler muss als Vollmatrose 1. Grades auf dem Kanonenboot nach wie vor
Kanonen programmieren, welche gegnerische U-Boote zerstören. Ein Satelit
übermittelt an das Schiff eine Geradengleichung auf dessen Linie ein gegnerisches UBoot geortet wurde. (Die Linie wird nicht angezeigt.) Ein alliiertes Boot übermittelt die
Information, auf welcher Tiefe sich das U-Boot befindet. Das Schiff muss an die
Position direkt über dem U-Boot fahren, um seine Bombe abzuwerfen. Der Punkt auf
dem die Bombe explodieren soll muss wie im Level 2 eingegeben werden. Zudem
muss der Punkt zu dem das Schiff fahren muss eingegeben werden. Das Schiff
fährt anschließend zum eingegebenen Punkt und wirft seine Bombe ab. Hat der
Vollmatrose 1. Grades 5 U-Boote des Gegners erfolgreich zerstört, wird er zum
„Vollmatrosen 2. Grades“ (Level 4) befördert.</textarea>
                <textarea name="order4" readonly="true">Auf dem Punkt „in der Luft“ wird ein Flugobjekt (Ziel) angezeigt. Auf dem tiefsten
ganzzahligen Punkt auf der Gerade wird ein U-Boot angezeigt. Die Kanone auf dem
U-Boot muss mit „Eingabe der Geradengleichung“ so ausgerichtet werden, dass
das Flugobjekt getroffen wird. Die Steigung muss als Bruch und der YAchsenabschnitt als Ganzzahl angegeben werden. War die Eingabe korrekt,
explodiert das Flugobjekt. Hat der Kanonier die Kanone 10x richtig ausgerichtet, wird
er zum Offizier befördert (Level 5).</textarea>
            </div>


            <div class="row">
                <div class="col-xs-6 col-md-2">.col-xs-6 .col-md-4</div>
                <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-1</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-4 bg-success">
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-8 bg-warning">
                <p>Sed ut perspiciatis...</p>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript"
            src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
