<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AE_Projekt; Submarine Math Game</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h1>Hello, world!</h1>
    <p>Gegebene Funktion: </p>
    <p th:text="${gleichung}"></p>
    <p th:text="${gleichung}"></p>
    <!--<p th:text="'Hello, ' + ${name} + '!'" ></p>-->
    <div class="container-fluid">
        <div class="row">
            <!-- Hier kommt die linke Spalte mit Input für Gleichungslösung, History der Eingaben und Ausgabe von Gleichungen -->
            <div class="col-md-2">
                f(x)=3/4 * 3x
            </div>

            <!-- Hier kommt die mittlere Spalte aka "Spielfeld" -->
            <div class="col-md-8">

            </div>

            <!-- Hier kommt die rechte Spalte aka Befehlsangabe -->
            <div class="col-md-2">

            </div>


            <div class="row">
                <div class="col-xs-6 col-md-2">.col-xs-6 .col-md-4</div>
                <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-1</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-4 bg-success">
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-8 bg-warning">
                <p>Sed ut perspiciatis...</p>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript"
            src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
