<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>



        <a th:text="${user.getLevel().getLinEq()}"></a>

<div style="width: 800px; height: 150px; border: 1px solid black;">

    <div th:each="ele : ${user.getLevel().getLevelbeatcounter().getBeatList()}">
        <div th:if="${ele} == true" style="width: 100px; height: 150px; border: 1px solid black; float: left; background-color: green;">


        </div>
        <div th:if="${ele} == false" style="width: 100px; height: 150px; border: 1px solid black; float: left; background-color: red;">

        </div>
    </div>
</div>

<span th:if="${user.getLevel() instanceof T(com.AEProjekt.submarine.levelz.Level1)}">
<form action="#" th:action="@{/exampleMainController}" th:object="${userInput}" method="post">
    <table>

        <tr>
            <td>Punkt 1 x: <input type="text" th:field="*{p1X}" /></td>
        </tr>
        <tr>
            <td>Punkt 1 y: <input type="text" th:field="*{p1Y}" /></td>
        </tr>
        <tr>
            <td>Punkt 2 x: <input type="text" th:field="*{p2X}" /></td>
        </tr>
        <tr>
            <td>Punkt 2 y: <input type="text" th:field="*{p2Y}" /></td>
        </tr>
        </tr>
            <td><button type="submit">Submit</button></td>
        </tr>

    </table>
</form>
</span>
<span th:if="${user.getLevel() instanceof T(com.AEProjekt.submarine.levelz.Level2)}">
<form action="#" th:action="@{/exampleMainController}" th:object="${userInput}" method="post">
    <table>

        <tr>
            <td th:text="'x = ' + ${user.getLevel().getSubmarine().getXPosition()}"></td>
        </tr>
        <tr>
            <td>y: <input type="text" th:field="*{pFX}" /></td>
        </tr>
        </tr>
        <td><button type="submit">Submit</button></td>
        </tr>

    </table>
</form>
</span>
<!--<form action="#" th:action="@{/userInputTest}" th:object="${userInput}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>Punkt 1 x: <input type="text" th:field="*{b}" /></td>
            <td th:if="${#fields.hasErrors('b')}" th:errors="*{b}">Number Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form> -->




</body>
</html>